<!DOCTYPE html>
<html>
<head>
<head>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<title>dry/Goggle/Vegetarianism/</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<header id="main_navigation" class="clearfix">
		<div class = "title">
		<%= link_to "dry/Goggle/", root_path, class: "name" %>
		<p class="namejap">ドライゴーグル</p>
	</div>
	<nav>
	<%= link_to "ARTICLES", posts_path %>
	<%= link_to "REVIEWS", reviews_path %>
	<%= link_to "CONTACT", new_contact_path %>
	</nav>

	</header>

<%= yield %>

<div class="push"></div>
</div>

<footer id="mp_footer" class="clearfix">
	<p class = "copyright">&copy;2016 Simon Lacis</p>
</footer>

</body>
</html>
